.color-scale-container.hide {
  visibility: hidden;
}

.control {
  margin-top: 32px;
  width: 320px;
}

.control input[type="range"] {
  width: 320px;
}

.controls {
  align-items: center;
  background: #111;
  color: #fff;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  height: 100%;
  right: 0;
  width: 100%;
}

.controls-multivariate.hide {
  display: none;
}

.select-header {
  padding: 8px 0;
  text-align: left;
  width: 320px;
}

select {
  appearance: none;
  background: #222;
  border: 0 !important;
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-size: 18px;
  outline: 0;
  padding: 0 8px;
}

.select-container {
  background: #222;
  display: flex;
  height: 32px;
  line-height: 2;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.select-container::after {
  background: #333;
  color: #ddd;
  content: '\25BC';
  cursor: pointer;
  padding: 0 8px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s all ease;
}

.select-container:hover::after {
  color: #fff;
}
