body {
  background: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

.color-scale-container {
  background: #000;
  bottom: 0;
  height: 384px;
  position: absolute;
  right: 0;
  width: 384px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-scale-container-center {
  display: flex;
}

.color-scale-container-center .label-axis {
  align-self: center;
  flex-basis: auto;
}

.color-scale-container-center .label-metric {
  width: 180px;
  transform: rotate(-90deg);
  padding-top: 30px;
  position: absolute;
  background: #000;
}

.color-scale {
  flex-basis: 256px;
  position: relative;
  background: #fff;
  height: 256px;
  width: 256px;
}

.label-axis-y-left .arrow-axis {
  border-right: 1px solid #fff;
  position: absolute;
  height: 240px;
  left: 48px;
}

.label-axis-y-left .arrowhead {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 72px;
  left: 44px;
  transform: rotate(45deg);
}

.label-axis-x-bottom {
  position: relative;
  height: 34px;
}

.label-axis-x-bottom .arrow-axis {
  border-top: 1px solid #fff;
  position: absolute;
  top: 16px;
  width: 200px;
  left: 28px;
}

.label-axis-x-bottom .arrowhead-left {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 12px;
  left: 28px;
  transform: rotate(-45deg);
}

.label-axis-x-bottom .arrowhead-right {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 12px;
  right: 28px;
  transform: rotate(135deg);
}

.label-axis-x-bottom .label-100-left {
  position: absolute;
  top: 8px;
  left: -20px;
  color: rgb(255, 127, 0);
}

.label-axis-x-bottom .label-100-right {
  position: absolute;
  color: rgb(0, 127, 255);
  top: 8px;
  right: -20px;
}

.color-scale-layer-left,
.color-scale-layer-right {
  bottom: 0;
  position: absolute;
  top: 0;
}

.color-scale-layer-left {
  left: 0;
  right: 50%;
}

.color-scale-layer-right {
  left: 50%;
  right: 0;
  transform: scale(-1, 1);
}

.color-scale .color-1 {
  background: linear-gradient(rgba(255, 127, 0, 1.0), rgba(0, 0, 0, 0));
}

.color-scale .color-2 {
  background: linear-gradient(rgba(0, 127, 255, 1.0), rgba(0, 0, 0, 0));
}

.color-scale .color-max {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1.0));
}

.color-scale .color-min {
  background: linear-gradient(0deg, rgba(122, 122, 122, 1.0), rgba(0, 0, 0, 0));
}

.potree_container {
  height: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 384px;
  position: absolute;
  width: auto;
}

.label-axis {
  color: white;
  text-align: center;
}

.label-axis-x-bottom {
  width: 256px;
}

.label-axis-x-bottom > .label-dimension {
  background: #000;
  padding: 8px;

position: relative;
    width: auto;
    display: inline-block;
}

.label-axis-x-top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.label-axis-x-top > div {
  padding: 8px 0;
  width: 128px;
  height: 18px;
}

.label-dimension-value-1 {
  color: rgb(255, 127, 0);
}

.label-dimension-value-2 {
  color: rgb(0, 127, 255);
}

.label-axis-y-left,
.label-axis-y-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
  width: 64px;
}
