body {
  background: #000;
  display: flex;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  justify-content: space-between;
}

.potree_container {
  height: 100%;
  position: relative;
  width: 100%;
}

#reset_button {
  background-color: rgba(122, 122, 122, 1.0);
  border: 2px solid;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
}

.control-panel {
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 384px;
  height: 100%;
}

.color-scale-container {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: column;
  height: 128px;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
}

.color-scale-container-center {
  display: flex;
}

.color-scale-container-center .label-axis {
  align-self: center;
  flex-basis: auto;
}

.color-scale-container-center .label-metric {
  width: 180px;
  transform: rotate(-90deg);
  padding-top: 30px;
  position: absolute;
  background: #000;
}

.color-scale {
  background: linear-gradient(
     to left,
     rgba(0, 127, 255, 1.0) 0%,
     rgba(255, 255, 255, 1.0) 50%,
     rgba(255, 127, 0, 1.0) 100%);
  flex-basis: 256px;
  position: relative;
  height: 32px;
  width: 256px;
}

.label-axis-x-bottom {
  position: relative;
  height: 34px;
}

.label-axis-x-bottom .arrow-axis {
  border-top: 1px solid #fff;
  position: absolute;
  top: 16px;
  width: 200px;
  left: 28px;
}

.label-axis-x-bottom .arrowhead-left {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 12px;
  left: 28px;
  transform: rotate(-45deg);
}

.label-axis-x-bottom .arrowhead-right {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 12px;
  right: 28px;
  transform: rotate(135deg);
}

.label-axis-x-bottom .label-100-left {
  position: absolute;
  top: 8px;
  left: -20px;
  color: rgb(255, 127, 0);
}

.label-axis-x-bottom .label-100-right {
  position: absolute;
  color: rgb(0, 127, 255);
  top: 8px;
  right: -20px;
}

.label-axis {
  color: white;
  text-align: center;
}

.label-axis-x-bottom {
  width: 256px;
}

.label-axis-x-bottom > .label-dimension {
  background: #000;
  display: inline-block;
  max-width: 160px;
  overflow: hidden;
  padding: 8px;
  position: relative;
  text-overflow: ellipsis;
  width: auto;
}

.label-axis-x-top {
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 100%;
}

.label-axis-x-top > div {
  min-height: 18px;
  padding: 8px 0;
  width: 128px;
}

.label-dimension-value-1 {
  color: rgb(255, 127, 0);
}

.label-dimension-value-2 {
  color: rgb(0, 127, 255);
}

.label-axis-y-left,
.label-axis-y-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
  width: 64px;
}
